<!DOCTYPE html>
<html>
<head>
    <title>Python Flask File Process</title>
</head>
<body>
    <h2>Enter Keyword to Search for in the document</h2>
    <p>
    	{% with messages = get_flashed_messages() %}
    	  {% if messages %}
    		<ul class=flashes>
    		{% for message in messages %}
    		  <li>{{ message }}</li>
    		{% endfor %}
    		</ul>
    	  {% endif %}
    	{% endwith %}
    </p>
    <form method="post" action="/result_display" enctype="multipart/form-data">
        <dl>
    		<p>
    			<input type="text" name="keyword" autocomplete="off" required>
    		</p>
        </dl>
        <p>
    		<input type="submit" value="FIND">
    	</p>
    </form>
</body>
</html>